<div class="car bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>

    <div class="my-2 text-left">
        <button type="button" class="btn btn-rounded btn-danger" [routerLink]="['/clientes']">Lista clientes</button>
    </div>

    <div class="card-body">
        <form>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" name="nombre" id="" class="form-control" [(ngModel)]="cliente.nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" name="apellido" id="" class="form-control" [(ngModel)]="cliente.apellido">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" name="email" id="" class="form-control" [(ngModel)]="cliente.email">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" (click)="create()" *ngIf="!cliente.id else elseBlock">Crear cliente</button>
                </div>
            </div>

            <ng-template #elseBlock>
                <button type="submit" class="btn btn-primary" (click)="update()">Actualizar cliente</button>
            </ng-template>

        </form>
    </div>
</div>